[submodule "TestMod"]
	path = TestMod
	url = git@github.com:copygirl/TestMod
[submodule "GrowingTrees"]
	path = GrowingTrees
	url = git@github.com:copygirl/GrowingTrees
[submodule "CarryCapacity"]
	path = CarryCapacity
	url = git@github.com:copygirl/CarryCapacity
