[submodule "TestMod"]
	path = TestMod
	url = git@github.com:copygirl/TestMod
[submodule "GrowingTrees"]
	path = GrowingTrees
	url = git@github.com:copygirl/GrowingTrees
[submodule "CarryCapacity"]
	path = CarryCapacity
	url = git@github.com:copygirl/CarryCapacity
[submodule "ProperTree"]
	path = ProperTree
	url = git@github.com:copygirl/ProperTree
[submodule "ProperTreeTest"]
	path = ProperTreeTest
	url = git@github.com:copygirl/ProperTreeTest
